* {
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  background-image: url('image.jpg');
}

img {
  opacity: 0.5;
}

h1 {
 font-size: 40px;
  color: red;
}



table, tbody, tr, td {
  text-align: left;
  color: #7CFC00;
}

#footer {
  bottom: 25px;
  left: 25px;
  position: absolute;
  right: 25px;
}

#settings {
  position: absolute;
  right: 25px;
  top: 25px;
}
